@charset "UTF-8";
/* Reseteo de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuraciones iniciales */
a {
  text-decoration: none;
  color: black;
}

header a {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

header a:hover {
  background-color: rgb(227, 173, 246);
  border-radius: 10px;
  color: rgb(148, 0, 212);
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: rgb(148, 0, 212);
  font-weight: 600;
}

/* Estilización main */
main {
  background-color: rgb(227, 173, 246);
  padding: 1rem;
}

.titulo__pagina {
  padding-top: 2rem;
  color: rgb(102, 0, 149);
  text-align: center;
  padding-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

.subtitulo__pagina {
  color: rgb(103, 59, 124);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

footer {
  background-image: url("../imagenes/flores-lilas.jpg");
}

.footer {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
.footer__nav,
.footer __redes,
.footer __contacto {
  flex-direction: column;
  justify-content: center;
}
.footer__link {
  color: white;
}
@media (min-width: 1200px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
    max-width: 900px;
  }
  .footer__nav,
  .footer __redes {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
  .footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(252, 240, 255);
}

header img {
  width: 150px;
}

footer .btn {
  border: 1px rgb(178, 8, 178) solid;
  background-color: violet;
  border-radius: 5px;
  padding: 5px;
}

/* Página Inicio */
.contenedor__inicio {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 3rem;
  align-items: center;
}

.inicio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 10rem;
  width: 75vw;
  max-width: 350px;
  background-color: rgb(196, 132, 255);
  border-radius: 25px;
  overflow: hidden;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.285);
}
.inicio:hover {
  transform: scale(1.05);
}
.inicio__img {
  min-width: 300px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 30rem;
}
@media (min-width: 1200px) {
  .inicio {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    gap: 200px;
    padding-right: 100px;
    margin: auto;
  }
}

.informacion1 {
  background-color: rgb(191, 127, 255);
  border-radius: 2rem;
  width: 70%;
  padding: 3rem;
  margin: 0 auto;
}
.informacion1__titulo {
  font-size: 2rem;
}
.informacion1__texto {
  font-size: 1rem;
}
@media (min-width: 1200px) {
  .informacion1 {
    max-width: 800px;
  }
}

.informacion {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}
.informacion__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 2rem;
  margin: auto;
}
.informacion__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.informacion__titulo {
  font-size: 2rem;
}
.informacion__texto {
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  .informacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .informacion_card {
    max-width: 1000px;
  }
}

.creadores {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}
.creadores__card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(205, 148, 255);
  border-radius: 15px;
  width: 80%;
  gap: 1rem;
}
.creadores__titulo, .creadores__link {
  text-align: center;
}
.creadores__img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 3px rgb(255, 80, 232);
}
.creadores__link {
  text-decoration: none;
  color: black;
}
@media (min-width: 1200px) {
  .creadores {
    flex-direction: row;
  }
  .creadores__card {
    max-width: 400px;
  }
}

.titulo-zona {
  text-align: center;
  margin-top: 2rem;
}

.zona {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.zona__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
  padding: 2rem;
  width: 300px;
  background-color: rgb(196, 132, 255);
  border-radius: 20px;
}
.zona__img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.zona__titulo {
  font-size: 2rem;
  color: black;
}
.zona__descripción {
  font-size: 1rem;
}
@media (min-width: 1200px) {
  .zona {
    flex-direction: row;
    gap: 2rem;
    overflow: auto;
  }
  .zona__card {
    flex-basis: 250px;
    flex-shrink: 0;
  }
}

/* Página Noticias */
.noticias {
  display: grid;
  gap: 2rem;
  max-width: 80vw;
  justify-content: center;
  margin: auto;
}
.noticias__tarjeta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(196, 132, 255);
  justify-items: center;
  max-width: 80vw;
  border-radius: 50px;
  padding: 2rem;
}
.noticias__img {
  border-radius: 50px;
  padding: 1rem;
}
@media (min-width: 1200px) {
  .noticias {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .noticias :nth-child(1) {
    grid-row: span 2;
    font-size: 2rem;
  }
}

.noticias2 {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.noticias2__tarjeta {
  display: flex;
  flex-direction: column;
  background-color: rgb(196, 132, 255);
  width: 80%;
  border-radius: 30px;
}
.noticias2__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  padding-bottom: 1rem;
}
.noticias2__titulo, .noticias2__texto {
  padding: 0 2rem;
}
@media (min-width: 1200px) {
  .noticias2 {
    flex-direction: row;
  }
  .noticias2__tarjeta {
    max-width: 400px;
  }
}

/* Página Productos */
.formulario__productos form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
@media (min-width: 1200px) {
  .formulario__productos form {
    justify-content: space-evenly;
  }
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}
.producto__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  width: 80%;
  max-width: 350px;
  min-height: 350px;
  padding: 2rem;
  background-color: rgb(196, 132, 255);
  border-radius: 15px;
}
@media (min-width: 1200px) {
  .producto {
    flex-direction: row;
    gap: 2rem;
    overflow: auto;
    margin: 1.5rem;
  }
  .producto__card {
    flex-basis: 250px;
    flex-shrink: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
