/* Variables */
$color-fondo: rgb(227, 173, 246);
$color-titulo-card: rgb(196, 132, 255);
$color-titulo-secciones: rgb(103, 59, 124);
$color-titulo-pagina: rgb(213, 139, 248);
$color-texto: black;
$font-titulo: 'Montserrat', sans-serif;

/* Reseteo de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Configuraciones iniciales */
a {
    text-decoration: none;
    color: texto;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

img {
    max-width: 100%;
}

/* Estilización main */
main {
    background-color: $color-fondo;
    padding-bottom: 2rem;
}

.subtitulo__pagina {
    color: $color-titulo-secciones;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: $font-titulo;
    font-weight: 400;
    font-size: 2rem;
    margin: 2rem 0;
}

@mixin mq-tablet {
    @media (min-width:768px) and (max-width:1199px) {
        @content;
    }
}

@mixin mq-desktop {
    @media (min-width:1200px) {
        @content;
    }
}