
footer{
    background-image: url("../imagenes/flores-lilas.jpg");
}

.footer {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;

    &__nav,
    __redes,
    __contacto {
        flex-direction: column;
        justify-content: center;
    }

    &__link{
        color: white;
    }

    @include mq-desktop {
            flex-direction: row;
            justify-content: space-evenly;
            align-content: center;
            margin: auto;
            max-width: 900px;

            &__nav,
            __redes {
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 1rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
    }
}