/* Página Inicio */
.contenedor__inicio {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 3rem;
    align-items: center;
}

.inicio {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10rem;
    width: 75vw;
    max-width: 350px;
    background-color: rgb(196, 132, 255);
    border-radius: 25px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.285);

    &:hover {
        transform: scale(1.05);
    }

    &__img {
        min-width: 300px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 30rem;
    }

    @include mq-desktop {
        display: flex;
        flex-direction: row;
        max-width: 1100px;
        gap: 200px;
        padding-right: 100px;
        margin: auto;
    }
}