/* Página Productos */
.formulario__productos form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    @include mq-desktop {
        justify-content: space-evenly;
    }
}


.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
    // height: 500px;
    &__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        width: 80%;
        max-width: 350px;
        min-height: 350px;
        padding: 2rem;
        background-color: $color-titulo-card;
        border-radius: 15px;
        &:hover {
            transform: scale(1.02);
            box-shadow: 10px 10px 5px 8px rgba(0, 0, 0, 0.425);
            background-color: rgb(201, 151, 248);
        }
    }
    &__titulo {
        font-size: 1.5rem;
    }


    @include mq-desktop {
        flex-direction: row;
        gap: 2rem;
        overflow: auto;
        margin: 1.5rem;

        &__card {
            flex-basis: 250px;
            flex-shrink: 0;
        }
    }
}